#container {
    display: flex;
    padding: auto;
    width: 832px;
    height: 832px;
    flex-wrap: wrap;
    border: black solid 1px;
}

.square {
    display: flex;
    border: black solid 1px;
    height: 50px;
    width: 50px;
    flex-shrink: 0;
}

.square:hover {
    background-color: cadetblue;
}