* {
    margin: 20;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

header {
    display: flex;
    justify-content: center;
    user-select: none;
}

#container {
    display: flex;
    flex-direction: row;
}

#button-container {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
}

button {
    margin: 10px 20px;
    display: block;
    padding: 10px 20px;
    user-select: none;
}

.active, button:hover {
    border: rgb(0, 95, 204) solid 2px;
    border-radius: 4px;
}

#sketch-container {
    display: flex;
    width: 700px;
    height: 650px;
    flex-wrap: wrap;
    border: black solid 1px;
    justify-content: center;
    background-color: transparent !important;
}

.column {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.row {
    flex: 1;
}